[submodule "services/product"]
	path = services/product
	url = https://github.com/Azzary/product
[submodule "myown-gateway"]
	path = myown-gateway
	url = https://github.com/Azzary/myown-gateway
[submodule "services/notification"]
	path = services/notification
	url = https://github.com/Azzary/myown_notification
[submodule "services/user"]
	path = services/user
	url = https://github.com/Darklevfr/user.git
